@model MvcOnlineTicariOtomasyon.Models.Classes.Customer
@{
    ViewBag.Title = "CustomerAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1 style="text-align:center; font-size:50px;color:forestgreen;font-family:Elephant;font-style:italic;">Yeni Müşteri Ekleme</h1>
<br />

<form class="form-group" method="post">

    <label>Müşteri Adı</label>
    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.FirstName, "", new { @style = "color:red" })
    <br />

    <label>Müşteri Soyadı</label>
    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.LastName, "", new { @style = "color:red" })
    <br />

    <label>Müşteri Şehri</label>
    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.City, "", new { @style = "color:red" })
    <br />

    <label>Müşteri Mail Adresi</label>
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Mail, "", new { @style = "color:red" })
    <br />

    <button class="btn btn-info">Kaydet</button>
</form>
