@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Employee>
@{
    ViewBag.Title = "DepartmentDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1 style="text-align:center; font-size:50px;color:forestgreen;font-family:Elephant;font-style:italic;">Departman Detayları</h1>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" style="font-size:20px;color:black">Departman Adı : @ViewBag.d</li>
</ol>


<table class="table table-hover" style="margin-top:20px;">
    <tr>
        <th style="text-align:center;">PERSONEL ID</th>
        <th style="text-align:center;">PERSONEL ADI</th>
        <th style="text-align:center;">PERSONEL SOYADI</th>
        <th style="text-align:center;">PERSONEL GÖRSELİ</th>
        <th style="text-align:center;">PERSONEL SATIŞLARI</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td style="text-align:center;">@p.Id</td>
            <td style="text-align:center;">@p.FirstName</td>
            <td style="text-align:center;">@p.LastName</td>
            <td style="text-align:center;">@p.Image</td>
            <td style="text-align:center;"><a href="#" class="btn btn-secondary" style="background-color:peru;">Satışlar</a></td>
        </tr>
    }
</table>